* {
margin: 0;
padding: 0;
font-family: sans-serif;
text-align: center;
}




#citySearch {
    width: 200px;
    background: lightgray;
    color: black;
    margin-top: 20px;
}

#searchButton {
    width: 200px;
    background: black;
    color: lightgray;
    
}

#reset {
    display: block;
    width: 120px;
    margin: auto;
    margin-top: 20px;
    background: red;
    color: white;
}

.searchRow {
    width: 300px;
    margin-top: 100px;
    border: 2px solid black;
}

